<div class="pure-center">
  <%= simple_form_for @pic, html: {multipart: true} do |f| %>
   <% if @pic.errors.any? %>
   <h2><%= pluralize(@pic.errors.count, "error") %></h2>
   <ul>
     <% @pic.errors.full_messages.each do |msg| %>
     <li class="pure-alert pure-alert-error"><%= msg  %></li>
     <% end %>
   </ul>
   <% end %>

    <div class="pure-form">
      <div class="pure-group">
        <%= f.input :title, input_html: { class: 'pure-input-1 custom-form' } %>
        <%= f.input :description, input_html: { class: 'pure-input-1 custom-form' }, placeholder: "Add a description." %>
      </div>
      <div class="pure-group">
        <%= f.input :image, input_html: { class: 'pure-input-1' } %>
      </div>
      <%= f.button :submit, class: "pure-button pure-input-1-2 pure-button-primary custom-btn" %>
    </div>

  <% end %>
</div>
