<%= simple_form_for @pic, html: {multipart: true} do |f| %>
 <% if @pic.errors.any? %>
 <h2><%= pluralize(@pic.errors.count, "error") %></h2>
 <ul>
   <%= @pic.errors.full_message.each do |msg| %>
   <li><%= msg %></li>
   <% end %>
 </ul>
 <% end %>

  <div class="pure-form pure-form-stacked">
    <%= f.input :title, input_html: {class: 'pure-control-group'} %>
  </div>
  <div class="pure-form pure-form-stacked">
    <%= f.input :description, input_html: {class: 'pure-control-group'} %>
  </div>
  <%= f.button :submit, class: "pure-button pure-button-primary" %>
<% end %>
