<div class="pic-box-center">

  <!-- <h2><%# @pic.title %></h2> -->

  <div class="pic-box">
    <div class="main-wrapper-pic">
      <div class="pic-left">
        <%= image_tag @pic.image.url, class: "pic" %>
      </div>
      <div class="pic-right">
        <div class="desc-wrapper">
          <p class="pic-title"><%= @pic.description %></p>
          <p class="pic-description"><%= @pic.user.email %></p>
        </div>
        <div class="pic-btn">
          <%= link_to "Back", root_path, class: "pic-btn-item" %>
          <%= link_to "Edit", edit_pic_path, class: "pic-btn-item" %>
          <%= link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" }, class: "pic-btn-item" %>
        </div>
      </div>
    </div>

  </div>

</div>
