<div class="pure-center">
  <h1><%= @pic.title %></h1>
</div>

<div class="pure-center">
  <div class="main-wrapper-pic">
    <div class="fifty">
      <%= image_tag @pic.image.url %>
    </div>
    <div class="fifty">
      <p class="pic-title"><%= @pic.description %></p>
      <p class="pic-description"><%= @pic.user.email %></p>
    </div>
  </div>
</div>

<br />

<div class="pure-center">
  <%= link_to "Back", root_path %>
  <%= link_to "Edit", edit_pic_path %>
  <%= link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
