<!DOCTYPE html>
<html>
<head>
  <title>Instapic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="pure-menu pure-menu-horizontal">
      <%# link_to "Instapic", root_path, class: "pure-menu-heading" %>
      <%= link_to root_path, class: "pure-menu-heading" do %>
        <%= image_tag('logo.svg', "data-svg-fallback" => image_path('logo.svg'),:style => "width: 100px;") %>
      <% end %>
      <ul class="pure-menu-list">
        <!-- <li class="pure-menu-item"><%= link_to "Log in", root_path, class: "pure-menu-link" %></li> -->
        <% if user_signed_in? %>
          <li class="pure-menu-item"><%= link_to "New Pic", new_pic_path, class: "pure-menu-link" %></li>
          <li class="pure-menu-item"><%= link_to "Config", edit_user_registration_path, class: "pure-menu-link" %></li>
          <li class="pure-menu-item"><%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "pure-menu-link" %></li>
        <% else %>
          <li class="pure-menu-item"><%= link_to "Log in", new_user_session_path, class: "pure-menu-link" %></li>
          <li class="pure-menu-item"><%= link_to "Sing up", new_user_registration_path, class: "pure-menu-link" %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <div class="main-wrapper">
    <div class="content">

      <div id="alert-wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "pure-alert" %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </div>

</body>
</html>
